:root {
  --card-padding: 0.5em;
  --card-width: 2.5em;
  --player-info-width: 5em;
}

div.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100vh;
  width: 100vw;
}

div.cardList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;

  width: max-content;
}

div.community {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  font-size: 3em;
  width: 100vw;
  max-width: calc(0.2em * 6 + var(--card-width) * 5);
  max-height: calc(0.2em * 3 + var(--card-width) * 1.4 + 1em);
}

div.community>span {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

div.community>div.cardList {
  justify-content: flex-start;
  height: calc(0.2em * 2 + var(--card-width) * 1.4);
}

div.card {
  background-color: whitesmoke;
  position: relative;
  box-sizing: border-box;
  width: var(--card-width);
  height: calc(var(--card-width) * 1.4);
  box-shadow: 0em 0em 0.2em 0.2em rgba(255, 255, 255, 0.1);
  border-radius: 0.25em;
  padding: var(--card-padding);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cardRank {
  font-family: Copperplate, Cambria, "Times New Roman", serif;
  position: absolute;
  top: var(--card-padding);
  left: var(--card-padding);

  width: min-content;
  height: min-content;
  margin-top: -0.2em;
  font-weight: bold;
}

img.cardSuit {
  position: absolute;
  bottom: var(--card-padding);
  right: var(--card-padding);
  width: 1.2em;
  height: auto;
}

div.cardBack {
  background-color: whitesmoke;
  opacity: 1;
  background: linear-gradient(135deg, #f7454555 25%, transparent 25%) -6px 0/ 12px 12px, linear-gradient(225deg, #f74545 25%, transparent 25%) -6px 0/ 12px 12px, linear-gradient(315deg, #f7454555 25%, transparent 25%) 0px 0/ 12px 12px, linear-gradient(45deg, #f74545 25%, whitesmoke 25%) 0px 0/ 12px 12px;
  box-shadow: inset 0 0 0 3px #f74545,
    inset 0 0 0 5px whitesmoke,
    0em 0em 0.2em 0.2em rgba(255, 255, 255, 0.1);

}

div.player {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  max-height: calc(0.2em * 2 + var(--card-width) * 1.4);
  width: 100vw;
  max-width: 15em;
  /* min-width: calc(3em + 0.2em * 4 + var(--card-width) * 2); */
  /* min-width: fit-content; */

  font-size: 3em;
  border: 2px solid gray;
  border-radius: 0.5em;
}


div.playerInfo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  font-family: 'Lato', sans-serif;

  max-width: 7em;
  min-width: fit-content;
}

div.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  max-width: 28em;
  max-height: 5em;

  font-size: 2em;
}

button.green {
  border-color: mediumseagreen;
  box-shadow: 1px 1px 0 mediumseagreen,
    2px 2px 0 mediumseagreen,
    3px 3px 0 mediumseagreen,
    4px 4px 0 mediumseagreen;
}

button.green:hover {
  background-color: #1e5a39;
  border-color: #9ed9b8;
  box-shadow: 1px 1px 0 #9ed9b8,
    2px 2px 0 #9ed9b8,
    3px 3px 0 #9ed9b8,
    4px 4px 0 #9ed9b8;
}

button.red {
  border-color: crimson;
  box-shadow: 1px 1px 0 crimson,
    2px 2px 0 crimson,
    3px 3px 0 crimson,
    4px 4px 0 crimson;
}

button.red:hover {
  background-color: #6e0a1e;
  border-color: #ee8a9e;
  box-shadow: 1px 1px 0 #ee8a9e,
    2px 2px 0 #ee8a9e,
    3px 3px 0 #ee8a9e,
    4px 4px 0 #ee8a9e;
}

button.white {
  border-color: lightgray;
  box-shadow: 1px 1px 0 lightgray,
    2px 2px 0 lightgray,
    3px 3px 0 lightgray,
    4px 4px 0 lightgray;
}

button.white:hover {
  background-color: darkgray;
  border-color: white;
  box-shadow: 1px 1px 0 white,
    2px 2px 0 white,
    3px 3px 0 white,
    4px 4px 0 white;
}

div.raiseActions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  max-width: 28em;
  max-height: 5em;

  font-size: 2em;
}

div.slider_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 14em;

}

div.slider_container>span {
  font-family: Lato, sans-serif;
  width: fit-content;
}

div.slider_container>input[type=range] {
  width: 100%;
}